[% WRAPPER layout.tt2
     title = "USS Houston CA-30: Future dives"
     dive_years_active = "active"
%]

<h1>Future Dive Team</h1>

<p>The Dive Team hopes to return to the USS Houston CA-30. A trip has not been planned.</p>

<ul>
<li>2015-08-26 <a href="/2015/2015-08-26.html">Water Police fund raiser update</a>
<li>2015-08-27 <a href="/2015/2015-08-27.html">Letters of support for the Dive Team</a>
</ul>

[% INCLUDE 'donations.tt2' %]

[% END %]

