<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="[% title %]">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/ico/favicon.png">

    <!-- Make FaceBook happy: https://developers.facebook.com/tools/debug/og/object/ -->
    <meta property="og:image" content="http://usshoustondive.com/assets/2008/USS-Houston4.jpg" />
    <meta property="og:title" content="USS Houston CA-30 Dive Team" />
    <meta property="og:description" content="Family and friends of 'The Galloping Ghost of the Java Coast' and Flagship of the Asiatic Fleet scuba diving the grave site near Jakarta Indonesia to perpetuate and honor the memory of the brave men who fought and died on March 1 1942." />

    <title>[% title %]</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/assets/js/html5shiv.js"></script>
      <script src="/assets/js/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/assets/css/carousel.css" rel="stylesheet">

  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">USS Houston (CA-30) Dive Team</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="[% contact_active %]"><a href="/contact.html">Contact</a></li>
                <li class="dropdown [% dive_years_active %]">
                  <a href="dive_years.html" class="dropdown-toggle" data-toggle="dropdown">Dive Years <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/future/">future</a></li>
                    <li><a href="/2014/">2014</a></li>
                    <li><a href="/2008/">2008</a></li>
                    <li><a href="/2006/">2006</a></li>
                    <li><a href="/2004/">2004</a></li>
                    <li><a href="/2002/">2002</a></li>
                  </ul>
                </li>
                <li><a href="https://www.dropbox.com/sh/o9ykr4i95q0n3ln/s1wxqfo6OZ" target="_blank">Archive</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">



        [% content %]


      <br/><br/><br/>

      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2004-2017 USS Houston CA-30 Dive Team &middot; All Rights Reserved. <a href="http://github.com/jhannah/usshoustondive.com">Patches welcome.</a></p>
      </footer>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>


    <link href="/assets/css/flexslider.css" rel="stylesheet">
    <script src="/assets/js/jquery.flexslider.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(window).load(function() {
        $('.flexslider').flexslider();
      });
    </script>




<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-48497522-1', 'usshoustondive.com');
  ga('send', 'pageview');
</script>



  </body>
</html>



