<h2>The Salvage Situation</h2>

<p><a href="https://www.facebook.com/groups/241012769784/permalink/10152112135729785/">Facebook post</a> on December 20, 2013.</p>

<p>From the Board of Managers, USS Houston (CA-30) Survivors Association and Next Generations.</p>

<p>The USS Houston (CA-30) Survivors Association & Next Generations’ Board of
Managers has been gathering information regarding recent allegations of salvage
operations on HMAS Perth and USS Houston (CA-30). Our “intelligence-gathering”
efforts have included discussions with US Navy officials.</p>

<p>It is clear to us that the US Navy is very concerned about these
allegations, is attempting to confirm the accuracy of salvage reporting, and is
committed to working with other U.S. government agencies and international
partners to do everything they can to preserve the site which is the final
resting place of those who made the ultimate sacrifice when the ship went down.
The Navy also committed to remaining in touch with us and keeping us informed
of developments.</p>

<p>As a matter of law, USS Houston qualifies as a sunken military craft under
the Sunken Military Craft Act (a US federal law) which prohibits activities
directed at such craft that disturb, remove, or injure them. The Act, however,
primarily applies to US citizens, nationals, or resident aliens. It is unclear
if Indonesia recognizes U. S. sovereignty over sunken warships such as USS
Houston (CA-30). Indonesian cultural heritage law protects certain resources
over 50 years of age that are considered to possess value of importance to
history, science and culture. Unauthorized disturbance of the Houston site
could therefore be a violation of both countries’ laws.</p>

<p>There are circumstances, however, which would enable a person to recover
artifacts from USS Houston (CA-30) for archaeological, historical, or
educational purposes with the formal permission of the Naval History & Heritage
Command. Recovery of artifacts from the Houston has not been sanctioned by the
Navy at this time. </p>

<p>At this point, more detail on US Navy efforts cannot be provided other than
to assure our USS Houston family that the reports of disturbance to the two
sunken vessels are being taken seriously and that work to find a solution is in
progress. We assured our Navy contacts of our full support for their efforts.
</p>

<p>Meanwhile, our Board of Managers has put together the position statement
(below) which we have provided to the US Navy and reprint here:</p>

<p>Approximately 1,000 brave American and Australian servicemen lost their
lives when the USS Houston (CA-30) and HMAS Perth were sunk in action during
the early morning hours of 1 March 1942. The USS Houston (CA-30) Survivors
Association & Next Generations considers both these sunken vessels as war
graves. Our Association is disturbed over and vehemently condemns any salvaging
operations being conducted on USS Houston (CA-30) and HMAS Perth. We also
object to any unlawful removal of artifacts or disturbance to USS Houston
(CA-30). We call upon citizens of all nations to respect and to leave
undisturbed the final resting place of those courageous American and Australian
crewmen of USS Houston (CA-30) and HMAS Perth who are “still standing watch
over Sunda Strait.”</p>


