<h1>Salvaging of HMAS Perth</h1>

<p>By Pattie Wright, 
<a href="http://www.usshouston.org/BlueBonnetFiles/bb_dec2013.pdf">December 2013 Blue Bonnet</a></p>

<p>In early September 2013, NG Jerry Ranger posted 
on the USS Houston (CA-30) Facebook site a report 
by a diver friend, which described recent salvage 
activities on HMAS Perth. The diver (who does not 
want his name to be mentioned—editor.), wrote:</p> 

<p>“We were out this weekend doing the 6 monthly Perth 
and Houston dives and are sad to confirm what Tech Asia 
told us the other week about the Perth. The mid-section 
above deck were the bridge was has been completely 
removed, the bow guns have been damaged by what 
appears to be explosives with the barrels missing and the 
tops peeled of, the bow has collapsed completely. 
Although it is hard to be certain, but as the metal that 
was the superstructure is all missing and is not lying 
around as debris it looks although we could be wrong like 
purposeful attempt to salvage the steel. Mike is already 
in contact with the Australian Embassy in Jakarta who are 
looking to see if the wreck is actually protected as a war 
grave and if anything can be done. I dived her in May… 
and she was all there so it must have happened in the 
last four months. [Two other divers] dared the Houston 
this morning, we had breakfast but it seems to be 
untouched. It appears to be trend with WW2 wrecks in 
SE Asia.”</p>

<p>The Royal Australian Navy was informed and the 
Chief of the Navy, VADM Ray Griggs asked for an 
immediate report for briefing of the relevant 
government minister. He is an outstanding man 
and has been reported to have moved very quickly 
on the news.</p>

<p>The HMAS Perth Association, family and friends 
were informed of the situation at the end of 
October. It was also discovered that Australia does 
not have the wherefores to claim her in the sense of 
protecting her as a war grave. She, of course, lies 
within Indonesian waters. In fact, the [Australian] 
Department of Environment and Heritage doesn’t 
even classify naval war graves as such; their 
designation is, rather, ‘maritime military grave’. 
Not quite the same kudos. And no matter what 
name Perth is given now, she is in peril.</p>

<p>The sticking point for our government agencies is 
that the UNESCO 2009 Convention for the 
protection of Historic wrecks was not signed by 
either Australia or Indonesia. This lack of ratification 
seems to allow HMAS Perth to slip between the 
gaps of Australian government protection. The 
curiosity here is that a Japanese mini submarine 
was discovered sometime back... near 2007 and we 
have protected her. She lies just off Sydney 
Harbour. One would think that this quid pro quo 
situation would apply to our ships in foreign waters.</p>

<p>Rather a lot of heaven and earth has been moved to 
garner support to have something done about 
preventing further salvaging. To have it stopped. 
Sadly, whatever is happening is being done 
diplomatically, behind doors, as Australia and 
Indonesia are, at present, in a contretemps with 
accusations of spying and issues of asylum seekers. 
Potentially, HMAS Perth could be lost in the wash.</p>

<p>There seems little doubt that salvagers are out and 
about in the waters off SE Asia. A Dutch submarine, 
HrMS 016, has been completely lost to a salvage 
barge (Photo on the right). This salvaging is put at 
21st October 2013 off the Malaysian island of 
Tioman—just off the east coast near Mersing. She 
too was a war grave. The Dutch navy has been 
informed of this desecration. The HMS Prince of 
Wales and HMS Repulse have also been got at.</p> 

<p>There is no evidence about who is doing it. And I 
have no real evidence of who is managing our side 
of things, either.</p>

<p>The RAN has asked me not to go to the press as 
their recently placed initiatives could be foiled. I 
had to agree.</p>

<p>I have recently emailed Val Poss and she has told 
me how badly Houston has been pillaged, and how 
similarly the US government reacted to Val’s 
entities to have the salvaging stopped.</p>

<p>Mother Nature will surely have their way with these 
two heroic ships…..but should a barge load of 
money-hungry bastards have their way with them 
first??? Remember, I am Australian!!</p>

<p>A RAN dive party is being gathered together to dive 
on Perth in March 2014. This will be the first 
archaeological dive to have been made on her. I 
will try to get a film crew together to accompany 
this party to document the event. Who knows? 
Both ships may survive if we keep up the pressure, 
but in all honestly I doubt it.</p>

<p>The lethargy of men. The softly spoken comment of 
‘I hope this doesn’t happen on my watch’ has 
already been heard. In truth, it is shameful.</p>



