<a name="updates"></a>
<h2>Updates</h2>
<ul>
  <li>2014-06-24 <a href="http://usshoustondive.com/#jay">Jay</a>'s update: All our flights are booked, excited to go! I've got 3 dive dates in July in Nebraska, including finishing up my Night / Limited Visibility specialty class with my fancy new dive lights. I'm a terrible GoPro videographer, but you can watch my dive videos on YouTube if you want: :)</li>
  <ul>
    <li><a href="https://www.youtube.com/watch?v=rcm4UDWJPEE">2014-06-19 Clearwater, Florida</a></li>
    <li><a href="https://www.youtube.com/watch?v=qUlfQPCiWtA">2014-06-18 Clearwater, Florida</a></li>
    <li><a href="https://www.youtube.com/watch?v=I2BSl9ueBtU">2014-01-20 Lake Mead, Nevada</a></li>
  </ul>

  <li>US Naval History Blog</li>
  <ul>
    <li>2014-06-12: <a href="http://www.navalhistory.org/2014/06/12/dive-on-houston-day-4-the-surveys-final-dayhttp://www.navalhistory.org/2014/06/12/dive-on-houston-day-4-the-surveys-final-day">Dive on Houston Day 4: The Survey’s Final Day</a></li>
    <li>2014-06-11: <a href="http://www.navalhistory.org/2014/06/11/dive-on-houston-day-3-a-pause-to-honor-our-fallen-then-work-continues">Dive on Houston Day 3: A Pause to Honor Our Fallen, Then Work Continues</a></li>
    <li>2014-06-10: <a href="http://www.navalhistory.org/2014/06/10/dive-on-houston-day-2-the-survey-begins">Dive on Houston Day 2: The Survey Begins</a></li>
    <li>2014-06-09: <a href="http://www.navalhistory.org/2014/06/09/dive-on-houston-day-1-nhhc-underwater-archaeologist-arrives-in-jakarta-begins-mission-planning">Dive on Houston Day 1: NHHC Underwater Archaeologist Arrives in Jakarta, Begins Mission Planning</a>
  </ul>
</ul>


