
<p><a href="http://igg.me/at/ca30dive2014" target="_blank">Indiegogo fund-raiser campaign</a></p> 

<p>Make all checks out to:</p>

<address>
  Jerry Ranger<br/>
  6478 Kennington Circle<br/>
  Milton, Florida 32570
</address>

<p>PayPal donations: ranger9@bellsouth.net (Rebecca A Ranger)</p>

