[% WRAPPER layout.tt2 
     title = "USS Houston CA-30 Dive Team" 
     home_active = "active"
%]


    [% INCLUDE carousel.tt2 %]



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">


       [% INCLUDE diver_bubbles.tt2 %]


       [% INCLUDE diver_boxes.tt2 %]


[% END %]
