<address>
  <strong>Jay Hannah</strong><br/>
  Grandson of <a href="/divers/jay_hannah/">Earl C. Humphrey</a>, survivor of the USS HOUSTON and Death Railroad.<br/>
  jay@jays.net
  1-402-598-7782<br/>
  12238 N 40th St<br/>
  Omaha, NE  68112  USA
</address>

